# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Database local
*.db
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploaded files (no subir comprobantes a git)
comprobantes/

# Logs
*.log

# Flask instance folder
instance/
